@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai:wght@400&display=swap");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-roboto: Roboto;
  --font-baloo-bhai: "Baloo Bhai";

  /* font sizes */
  --font-size-sm: 16px;
  --font-size-base: 18px;
  --font-size-lg: 20px;
  --font-size-xl: 38px;

  /* Colors */
  --studio-darkmode-allwhite-ffffff: #fff;
  --color-cornflowerblue: #1262ae;

  /* Gaps */
  --gap-md: 10px;

  /* Paddings */
  --padding-sm: 8px;
  --padding-md: 12px;
  --padding-lg: 16px;

  /* border radiuses */
  --br-sm: 10px;
  --br-md: 31px;
}
